@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Past Posts";
}
<h2>Blog</h2>
<p>this should work yo</p>
